@{
    ViewBag.Title = "About";
}

<br />
<div class="card mb-3">
    <center>
        <h3 class="card-header">Informacje</h3>
        <br />
        <p>Aplikacja służy do agregowania najnowszych informacji. Informacje podzielone są na kategorie.</p>
        <p>W celu skorzystania z aplikacji użytkownik musi zarejestrować się i założyć nowe konto.Jeżeli użytkownik założył już konto, musi się zalogować.</p>
        <p>
            Artykuły aktualizowane są przez administratora. Aby zaktualizować artykuły, administrator musi zalogować się na konto:

            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Dane do konta administratora: </div>
                <div class="card-body">
                    <div class="card-text">Login: admin@abc.pl</div>
                    <div class="card-text">Hasło: Admin!2</div>
                </div>
            </div>
        </p>
        <p>Admnistrator ma możliwość zaktualizowania jednocześnie wszystkich kategorii lub wybranej pojedynczej z poziomu zakładki "Panel administracyjny"</p>

    </center>
</div>
