@{
    ViewBag.Title = "Kontakt";
}

<br />
<div class="card mb-3">
    <center>
        <h3 class="card-header">O autorze</h3>
        <br /> 
        <img style="height: 200px; width: 150px; display: block;" src="@Url.Content("~/Content/Images/zdj.jpg")" alt="Card image">
        <div class="card-body">
            <h5 class="card-title">Małgorzata Paciorkowska</h5>
            <p class="card-text">Telefon: 792 883 816</p>
            <p class="card-text">E-mail: paciorkowska.malgorzata@gmail.com</p>
        </div>
    </center>
</div>
